<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.cbcollection_server.dao.CustomerMapper">
    <select id="findAll" resultType="com.yjy.cbcollection_server.pojo.Customer">
        SELECT * FROM customers where user_id=#{u_id}
    </select>
</mapper>